<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="printer" class="com.example.framework.service.Printer"/>
    <bean id="helloService" class="com.example.framework.service.HelloService">
        <constructor-arg ref="printer"/>
        <property name="printer" ref="printer"/>
    </bean>
</beans>
